<div class="page">
  <div class="header">
    <h1>Logements</h1>
    <button mat-raised-button color="primary" (click)="openCreate()" *ngIf="authService.canManage()">
      <mat-icon>add</mat-icon> Nouveau logement
    </button>
  </div>

  <table mat-table [dataSource]="items" class="mat-elevation-z2">
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef>Numéro</th>
      <td mat-cell *matCellDef="let r">{{ r.numero }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let r">{{ r.type }}</td>
    </ng-container>
    <ng-container matColumnDef="quote_part">
      <th mat-header-cell *matHeaderCellDef>Quote-part</th>
      <td mat-cell *matCellDef="let r">{{ r.quote_part }}%</td>
    </ng-container>
    <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef>Statut</th>
      <td mat-cell *matCellDef="let r">{{ r.statut }}</td>
    </ng-container>
    <ng-container matColumnDef="residence_id">
      <th mat-header-cell *matHeaderCellDef>Résidence (ID)</th>
      <td mat-cell *matCellDef="let r">{{ r.residence_id }}</td>
    </ng-container>
    <ng-container matColumnDef="proprietaire_id">
      <th mat-header-cell *matHeaderCellDef>Propriétaire (ID)</th>
      <td mat-cell *matCellDef="let r">{{ r.proprietaire_id }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let r">
        <button mat-icon-button color="primary" (click)="openEdit(r)" *ngIf="authService.canManage()"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deleteItem(r.id!)" *ngIf="authService.canManage()"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
