<div class="residences-page">
  <div class="header">
    <h1>Résidences</h1>
    <button mat-raised-button color="primary" (click)="openCreateDialog()" *ngIf="authService.canManage()">
      <mat-icon>add</mat-icon> Nouvelle résidence
    </button>
  </div>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Rechercher (nom, ville)</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" placeholder="Ex: Al Amal, Tétouan" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
   <div *ngIf="loading" class="loading-container">
  <mat-spinner diameter="40"></mat-spinner>
</div>

  <table mat-table [dataSource]="residences" class="mat-elevation-z2" *ngIf="!loading">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let r">{{ r.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef>Adresse</th>
      <td mat-cell *matCellDef="let r">{{ r.adresse }}</td>
    </ng-container>

    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef>Ville</th>
      <td mat-cell *matCellDef="let r">{{ r.ville }}</td>
    </ng-container>

    <ng-container matColumnDef="actif">
      <th mat-header-cell *matHeaderCellDef>Statut</th>
      <td mat-cell *matCellDef="let r">{{ r.actif ? 'Actif' : 'Inactif' }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let r">
  <button mat-icon-button color="accent" (click)="goToImmeubles(r.id!)" title="Voir les immeubles">
    <mat-icon>apartment</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="openEditDialog(r)" *ngIf="authService.canManage()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="deleteResidence(r.id!)" *ngIf="authService.canManage()">
    <mat-icon>delete</mat-icon>
  </button>
</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p *ngIf="residences.length === 0" class="no-results">Aucune résidence trouvée.</p>
</div>
